footer {	
	.copyright {
		font-size: 8pt;
	    color: #6d6e71;
	}
	margin-bottom: 10px;
}

/**--- Tablet --*/
@media (min-width: 768px) {

}

/**--- Desktop --*/
@media (min-width: 992px) {

}

/**--- Large screen --*/
@media (min-width: 1200px) {

}