/*--COLOR--*/
.fr {
  float: right; }

.fl {
  float: left; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

.clearfix {
  display: block; }

.form input[type="text"],
.form input[type="password"],
.form input[type="number"],
.form input[type="date"],
.form textarea {
  border: 2px solid #eff2f3;
  padding: 6px 7px 6px 12px;
  outline: none;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/
/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/
.vf_pag a {
  padding: 6px 8px;
  background: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
  font-size: 8.5pt;
  color: #6d6b6b; }
  .vf_pag a.active {
    color: #fff;
    background: #313131; }

footer {
  margin-bottom: 10px; }
  footer .copyright {
    font-size: 8pt;
    color: #6d6e71; }

/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/
header .logo-wp {
  float: none;
  margin-top: 15px;
  text-align: center; }
header .social-wp {
  position: absolute;
  right: 25px;
  top: 10px; }
  header .social-wp p {
    line-height: 1;
    margin: 0;
    padding: 0; }
  header .social-wp a {
    margin-left: 7px; }
    header .social-wp a img {
      width: 16px;
      height: 16px; }
header .navigate-wp {
  font-size: 11pt; }
  header .navigate-wp a {
    padding: 5px 15px;
    color: #000; }
  header .navigate-wp a:hover, header .navigate-wp a.active {
    color: #999; }

.mobile-bar {
  height: 38px;
  background: #017bb7; }
  .mobile-bar #btn-menu {
    padding-top: 8px;
    padding-left: 15px;
    display: block;
    float: left; }
  .mobile-bar #btn-menu:before {
    content: "";
    display: block;
    width: 23px;
    height: 20px;
    border-top: 12px double #FFF;
    border-bottom: 4px solid #FFF; }
  .mobile-bar .flag-wp {
    margin-top: 7px;
    display: inline-block;
    float: right;
    margin-right: 15px; }
    .mobile-bar .flag-wp img {
      margin-left: 8px;
      -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75); }

/**--- Tablet --*/
@media (min-width: 768px) {
  header .navigate-wp {
    float: left;
    margin-top: 34px;
    margin-right: 0px;
    margin-left: -10px; }
  header .social-wp {
    margin-top: 38px;
    float: right;
    position: initial;
    right: 0px;
    top: 0px; } }
/**--- Desktop --*/
@media (min-width: 992px) {
  header .logo-wp {
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    text-align: left; }
  header .navigate-wp {
    float: right;
    margin-top: 60px;
    margin-right: 36px; }
  header .social-wp {
    margin-top: 64px; } }
/**--- Large screen --*/
#main-content {
  padding: 5px;
  background-color: #ffffff;
  margin-top: 10px; }
  #main-content .bluebar {
    height: 35px;
    padding: 10px;
    margin: 0;
    background-color: transparent;
    background: url(../img/bluebar-2.png) no-repeat;
    background-size: 100% 35px;
    text-align: center;
    margin-bottom: 1px; }
    #main-content .bluebar .m_products {
      font-size: 9pt;
      color: #b7cfec; }
      #main-content .bluebar .m_products .m_product_item {
        color: #eee;
        text-decoration: none; }
        #main-content .bluebar .m_products .m_product_item.active {
          color: #b7c3df; }
  #main-content .page-wp {
    margin: 0;
    background: #f4f4f4; }
    #main-content .page-wp .page-img {
      padding: 0; }
      #main-content .page-wp .page-img img {
        height: 100%;
        width: 100%; }
    #main-content .page-wp .page-text {
      font-size: 9.5pt;
      padding: 20px;
      padding-top: 10px; }
  #main-content .product-wp .product-text {
    padding-left: 15px;
    padding-right: 15px; }
  #main-content .product-wp .product-list {
    margin: 0; }
    #main-content .product-wp .product-list .category {
      text-align: center;
      margin-bottom: 10px; }
  #main-content .content_products .pd-header {
    border-bottom: solid 1px #dadada;
    margin-bottom: 10px;
    padding-left: 3px; }
    #main-content .content_products .pd-header .title {
      text-transform: uppercase;
      margin-top: 22px;
      font-family: sans-serif;
      letter-spacing: 2px;
      color: #225c82; }
  #main-content .content_products .pd-list {
    margin: 0; }
    #main-content .content_products .pd-list .pd-item {
      border: 1px solid #dadada;
      height: 182px; }
      #main-content .content_products .pd-list .pd-item img {
        width: 100%;
        height: 100%; }
    #main-content .content_products .pd-list .pd-name {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      font-size: 9.5pt;
      color: #797878;
      margin-top: 5px; }
    #main-content .content_products .pd-list .pd-item-wp {
      margin-bottom: 10px; }
  #main-content .content_products .pd-detail-wp .pd-detail-bar {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #225c82;
    margin-left: 5px; }
  #main-content .content_products .pd-detail-wp .pd-detail-img-wp {
    text-align: center;
    height: 417px; }
    #main-content .content_products .pd-detail-wp .pd-detail-img-wp img {
      max-height: 100%; }

.shadow {
  width: 100%;
  height: 20px;
  padding: 0;
  margin: 0 auto;
  background-color: transparent;
  background: url(../img/div-shadow.png) no-repeat;
  background-size: 100% 20px; }

.service-wp {
  padding: 5px;
  background-color: #fff;
  text-align: left; }
  .service-wp .service {
    background-color: transparent;
    background: url(../img/bottombar-gradient.gif) repeat-x;
    background-size: 100% 100%;
    position: relative; }
    .service-wp .service .item {
      margin-top: 27px;
      margin-bottom: 27px; }
      .service-wp .service .item.next {
        margin-left: 0px; }
      .service-wp .service .item .item-seperate {
        float: left;
        position: relative; }
        .service-wp .service .item .item-seperate img {
          position: absolute;
          top: -14px; }
      .service-wp .service .item .item-img {
        float: left;
        margin-left: 16px; }
        .service-wp .service .item .item-img img {
          height: 77px;
          width: 77px; }
      .service-wp .service .item .item-content {
        width: 64%;
        float: left;
        margin-left: 10px;
        position: relative;
        height: 77px; }
        .service-wp .service .item .item-content .item-title {
          font-size: 10pt;
          font-weight: bold;
          color: #535758;
          line-height: 1.6em; }
        .service-wp .service .item .item-content .item-desc {
          font-size: 9pt;
          color: #535758;
          line-height: 1.3em; }
        .service-wp .service .item .item-content .learnmore {
          width: 100px; }
          .service-wp .service .item .item-content .learnmore a {
            font-size: 9pt;
            color: #ffffff;
            text-decoration: none;
            font-weight: normal;
            position: absolute;
            bottom: 5px;
            left: 0px; }

/**--- Tablet --*/
@media (min-width: 768px) {
  #main-content .bluebar {
    text-align: right; }

  .service-wp .service .item.last {
    margin-left: 0px; } }
/**--- Desktop --*/
@media (min-width: 992px) {
  .service-wp .service {
    background-size: 100% 132px; }
    .service-wp .service .item {
      margin-top: 27px;
      margin-bottom: 27px; }
      .service-wp .service .item.next {
        margin-left: -10px; }
      .service-wp .service .item.last {
        margin-left: -10px; }

  .page-wp .page-img img {
    height: 331px; }
  .page-wp .page-text {
    height: 331px;
    overflow: auto; } }
/**--- Large screen --*/
@media (min-width: 1200px) {
  .page-wp .page-img img {
    height: 362px; }
  .page-wp .page-text {
    height: 362px; } }
body {
  background-color: #f4f4f4;
  font-family: 'Arial';
  font-size: 14px; }

img {
  max-width: 100%; }

/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/

/*# sourceMappingURL=style.css.map */
