/*--COLOR--*/
.fr {
  float: right; }

.fl {
  float: left; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

.clearfix {
  display: block; }

.form {
  /* CSS FOR MOBLIE */
  /* Input search for mobile */ }
  .form input[type="text"],
  .form input[type="password"],
  .form input[type="number"],
  .form input[type="date"],
  .form textarea {
    border: 2px solid #eff2f3;
    padding: 6px 7px 6px 12px;
    outline: none;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .form .input-search {
    width: 230px; }
  .form .input-search-wp:after {
    content: "";
    background: #017bb7 url(../img/search-ic.png) no-repeat center center;
    width: 29px;
    height: 30px;
    display: block;
    display: inline-block;
    position: relative;
    top: 10px;
    right: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-left: -6px; }
  .form.search-form-mobile {
    margin-bottom: 20px; }
  .form .input-search-mobile-wp {
    margin-right: 36px;
    padding: 0px 10px 0px 20px; }
    .form .input-search-mobile-wp .input-search-mobile {
      float: left;
      width: 100%; }

/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/
/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/
/* top level
--------------------------------------------*/
.nav {
  margin: 0 auto;
  width: 100%;
  float: left;
  behavior: url("../navigation.htc");
  position: relative;
  z-index: 4;
  background: url("../img/bgmenu.png") no-repeat right top;
  background-color: #017bb7;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  padding: 0;
  /*---User login---*/
  /* sub level
   --------------------------------------------*/ }
  .nav > li {
    border-top: 1px solid transparent;
    padding: 10px 0px;
    float: left;
    position: relative;
    /*delete it if you want submenu to be positioned relative to the whole menu instead of this li element*/
    z-index: 5; }
    .nav > li:hover, .nav > li.onhover {
      background-color: #eef9ff;
      border-top: 1px solid #d8d8d8; }
      .nav > li:hover a, .nav > li.onhover a {
        color: #205e80;
        z-index: 9; }
      .nav > li:hover .drop, .nav > li.onhover .drop {
        left: 0px;
        /*Use this property to change offset of the dropdown*/ }
      .nav > li:hover .dropToLeft, .nav > li.onhover .dropToLeft {
        left: auto;
        right: -1px; }
      .nav > li:hover .dropToLeft2, .nav > li.onhover .dropToLeft2 {
        left: auto;
        right: -60px; }
    .nav > li > a {
      padding: 0 17px;
      font-size: 14px;
      font-weight: normal;
      display: inline-block;
      outline: 0;
      text-decoration: none;
      color: white;
      position: relative; }
    .nav > li > a.arrow:after {
      content: "";
      width: 22px;
      height: 14px;
      background: url(../img/arrow.png) no-repeat;
      top: 3px;
      right: -7px;
      position: relative;
      display: inline-block; }
  .nav > li.menuRight {
    float: right;
    margin-right: 0px; }
    .nav > li.menuRight:hover, .nav > li.menuRight.onhover {
      background: none;
      border-top: 1px solid transparent; }
      .nav > li.menuRight:hover a, .nav > li.menuRight.onhover a {
        color: white;
        text-decoration: underline; }
  .nav .userlogin:before {
    content: "";
    width: 22px;
    height: 14px;
    background: url(../img/user-ic.png) no-repeat;
    top: 3px;
    position: relative;
    display: inline-block; }
  .nav .drop {
    position: absolute;
    width: 250px;
    z-index: 5;
    left: -9999px;
    border: 1px solid #a7a7a7;
    border-top: 5px solid #e67e22;
    background: #eef9ff url("../img/gsubmenu.png") repeat-x bottom left;
    padding: 5px 16px;
    top: 40px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    /* Elements within the drop down sub-menu
    --------------------------------------------*/ }
    .nav .drop.large {
      width: 520px; }
    .nav .drop ul {
      margin: 0px;
      padding: 0px;
      list-style: none; }
      .nav .drop ul li {
        padding: 10px 0px;
        border-bottom: 1px solid #e0dcdc; }
        .nav .drop ul li a {
          color: #00466c;
          font-size: 13px; }
        .nav .drop ul li.last {
          border-bottom: 0px; }
      .nav .drop ul .submenu-lv2 {
        padding-top: 5px;
        padding-bottom: 5px; }
        .nav .drop ul .submenu-lv2 li {
          border: none;
          padding: 3px 0px;
          padding-left: 10px; }
          .nav .drop ul .submenu-lv2 li a {
            font-size: 12px;
            color: #646769; }
      .nav .drop ul .submenu-lv2.last {
        padding-bottom: 10px; }

footer {
  margin-bottom: 10px; }
  footer .copyright {
    font-size: 8pt;
    color: #6d6e71; }

/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/
header .logo-wp {
  float: none;
  margin-top: 15px;
  text-align: center; }
header .social-wp {
  position: absolute;
  right: 25px;
  top: 10px; }
  header .social-wp p {
    line-height: 1;
    margin: 0;
    padding: 0; }
  header .social-wp a {
    margin-left: 7px; }
    header .social-wp a img {
      width: 16px;
      height: 16px; }
header .navigate-wp {
  font-size: 11pt; }
  header .navigate-wp a {
    padding: 5px 15px;
    color: #000; }
  header .navigate-wp a:hover, header .navigate-wp a.active {
    color: #999; }

.mobile-bar {
  height: 38px;
  background: #017bb7; }
  .mobile-bar #btn-menu {
    padding-top: 8px;
    padding-left: 15px;
    display: block;
    float: left; }
  .mobile-bar #btn-menu:before {
    content: "";
    display: block;
    width: 23px;
    height: 20px;
    border-top: 12px double #FFF;
    border-bottom: 4px solid #FFF; }
  .mobile-bar .flag-wp {
    margin-top: 7px;
    display: inline-block;
    float: right;
    margin-right: 15px; }
    .mobile-bar .flag-wp img {
      margin-left: 8px;
      -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75); }

/**--- Tablet --*/
@media (min-width: 768px) {
  header .navigate-wp {
    float: left;
    margin-top: 34px;
    margin-right: 0px;
    margin-left: -10px; }
  header .social-wp {
    margin-top: 38px;
    float: right;
    position: initial;
    right: 0px;
    top: 0px; } }
/**--- Desktop --*/
@media (min-width: 992px) {
  header .logo-wp {
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    text-align: left; }
  header .navigate-wp {
    float: right;
    margin-top: 60px;
    margin-right: 36px; }
  header .social-wp {
    margin-top: 64px; } }
/**--- Large screen --*/
#main-content {
  padding: 5px;
  background-color: #ffffff;
  margin-top: 10px; }
  #main-content .bluebar {
    height: 35px;
    padding: 10px;
    margin: 0;
    background-color: transparent;
    background: url(../img/bluebar-2.png) no-repeat;
    background-size: 100% 35px;
    text-align: center;
    margin-bottom: 1px; }
    #main-content .bluebar .m_products {
      font-size: 9pt;
      color: #b7cfec; }
      #main-content .bluebar .m_products .m_product_item {
        color: #eee;
        text-decoration: none; }
        #main-content .bluebar .m_products .m_product_item.active {
          color: #b7c3df; }
  #main-content .page-wp {
    margin: 0;
    background: #f4f4f4; }
    #main-content .page-wp .page-img {
      padding: 0; }
      #main-content .page-wp .page-img img {
        height: 100%;
        width: 100%; }
    #main-content .page-wp .page-text {
      font-size: 9.5pt;
      padding: 20px;
      padding-top: 10px; }
  #main-content .product-wp .product-text {
    padding-left: 15px;
    padding-right: 15px; }
  #main-content .product-wp .product-list {
    margin: 0; }
    #main-content .product-wp .product-list .category {
      text-align: center;
      margin-bottom: 10px; }

.shadow {
  width: 100%;
  height: 20px;
  padding: 0;
  margin: 0 auto;
  background-color: transparent;
  background: url(../img/div-shadow.png) no-repeat;
  background-size: 100% 20px; }

.service-wp {
  padding: 5px;
  background-color: #fff;
  text-align: left; }
  .service-wp .service {
    background-color: transparent;
    background: url(../img/bottombar-gradient.gif) repeat-x;
    background-size: 100% 100%;
    position: relative; }
    .service-wp .service .item {
      margin-top: 27px;
      margin-bottom: 27px; }
      .service-wp .service .item.next {
        margin-left: 0px; }
      .service-wp .service .item .item-seperate {
        float: left;
        position: relative; }
        .service-wp .service .item .item-seperate img {
          position: absolute;
          top: -14px; }
      .service-wp .service .item .item-img {
        float: left;
        margin-left: 16px; }
        .service-wp .service .item .item-img img {
          height: 77px;
          width: 77px; }
      .service-wp .service .item .item-content {
        width: 64%;
        float: left;
        margin-left: 10px;
        position: relative;
        height: 77px; }
        .service-wp .service .item .item-content .item-title {
          font-size: 10pt;
          font-weight: bold;
          color: #535758;
          line-height: 1.6em; }
        .service-wp .service .item .item-content .item-desc {
          font-size: 9pt;
          color: #535758;
          line-height: 1.3em; }
        .service-wp .service .item .item-content .learnmore {
          width: 100px; }
          .service-wp .service .item .item-content .learnmore a {
            font-size: 9pt;
            color: #ffffff;
            text-decoration: none;
            font-weight: normal;
            position: absolute;
            bottom: 5px;
            left: 0px; }

/**--- Tablet --*/
@media (min-width: 768px) {
  #main-content .bluebar {
    text-align: right; }

  .service-wp .service .item.last {
    margin-left: 0px; } }
/**--- Desktop --*/
@media (min-width: 992px) {
  .service-wp .service {
    background-size: 100% 132px; }
    .service-wp .service .item {
      margin-top: 27px;
      margin-bottom: 27px; }
      .service-wp .service .item.next {
        margin-left: -10px; }
      .service-wp .service .item.last {
        margin-left: -10px; }

  .page-wp .page-img img {
    height: 331px; }
  .page-wp .page-text {
    height: 331px;
    overflow: auto; } }
/**--- Large screen --*/
@media (min-width: 1200px) {
  .page-wp .page-img img {
    height: 362px; }
  .page-wp .page-text {
    height: 362px; } }
body {
  background-color: #f4f4f4;
  font-family: 'Arial';
  font-size: 14px; }

img {
  max-width: 100%; }

/**--- Tablet --*/
/**--- Desktop --*/
/**--- Large screen --*/

/*# sourceMappingURL=style.css.map */
